* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

body,
html,
#app {
    width: 100vw;
    /* vw = Viewport Width (100% of screen width) */
    height: 100vh;
    /* vh = Viewport Height (100% of screen height) */
    overflow: hidden;
    /* No scrolling allowed */
    background-color: #a5a5a5;
}

#app {
    display: flex;
    flex-direction: row;
    /* Standard left-to-right */
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 5px;
    gap: 5px;
}

#editor-container {
    flex: 1;
    height: 100%;
    border-radius: 12px;
    border: 1px solid #444;
    background-color: #1e1e1e;
    min-width: 0;
    max-width: 50%;
    overflow: hidden;
}

#shader-error-overlay {
    position: absolute;
    top: 0;
    right: 0;
    width: 400px;
    max-height: 100%;
    background: rgba(20, 0, 0, 0.9);
    color: #ff5c5c;
    font-family: 'Fira Code', monospace;
    font-size: 0.85rem;
    padding: 20px;
    white-space: pre-wrap;
    z-index: 1000;
    pointer-events: none;
    border-left: 3px solid #ff0000;

    opacity: 0;
    transform: translateX(20px);
    transition: opacity 0.2s, transform 0.2s;
}

/* The active state */
#shader-error-overlay.is-visible {
    opacity: 1;
    transform: translateX(0);
}

#render-container {
    flex: 1;
    height: 100%;
    border: 1px solid #444;
    background-color: #1e1e1e;
    min-width: 0;
    max-width: 50%;
    overflow: hidden;
}

canvas {
    width: 100%;
    height: 100%;
    display: block;
    /* Removes a tiny 4px gap at the bottom of images */
}

